<!-- Extendendo o conteúdo do model-pahe.html  -->
{% extends "model-page.html"%}

    {% block content %}

        <!-- Lê arquivos estaticos  -->
        {% load static %}
        <link href="{% static 'css/agenda.css' %}" rel="stylesheet">

        <h2 align="center" style="font-size: 35px;">Agendamentos</h2>
        <div align="center">
                <a href="evento/">
                    <button type="button" class="btn btn-secondary">Novo Evento</button><br>
                </a>
        </div><br>


        <div>

            <ul class="lista">
                <ul>
                    <li>Agendamentos em vermelho são antigos, você pode excluí-los </li>
                </ul><br>

                {% for evento in eventos %} <!-- Comandos de Pyhon dentro de chaves -->

                 <li>
                    <div id="dados" style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
                        <b>Titulo: </b>{{evento.titulo}} <br>
                        <b>Data: </b>{{evento.get_data_evento}}<br>
                        <b>Descrição: </b>{{evento.descricao}}<br>
                        <b>Local: </b>{{evento.local}}<br>
                        <br>

                        <a href="evento/?id={{evento.id}}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                        <a href="evento/delete/{{ evento.id}}/">
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </a>
                        <p></p>
                    </div>
                     <p></p>
                 </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}


