<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    {% load static %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

</head>
<body>
    <h1 align="center">Login</h1>
    <div align="center">
        <form action="submit" method="POST">{% csrf_token%}
            <label>Usuário(usuario)</label><br>
            <input type="text" name="username">
            <p>
            <label>Senha(@agenda963)</label><br>
            <input type="password" name="password">
            <p>
            <button type="submit" id="btnl">Entrar</button>
        </form>
    </div>


        {% for message in messages %}
            <div align="center">
                <strong>Erro - </strong>{{ message }}
            </div>
        {% endfor %}

</body>
</html>